{% extends "base.html" %}
{% block title %} Players Page {% endblock %}
{% block content %}
<style type='text/css'>

  body {
      background-color:#CCCCCC;
 }
</style>
<h2>Search up a player!</h2>
<form action="/players" method="GET" enctype="multipart/form-data">
  <p> First Name: </p>
  <p><input type="text" name="fn"/></p>
  <p> Last Name: </p>
  <p><input type="text" name="ln"/></p>
  <p><input type="submit" value="submit"/></p>
</form>

<div id="display">
  <p>Name: {{fn}}   {{ln}}</p>
  <p>Birthdate: {{bd}}</p>
  <p>Country: {{country}}</p>
  <p>Grand Slams won: {{gwon}}</p>
  <p>Masters won: {{mwon}}</p>
  <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
</div>

{% endblock %}
